.offers-form__wrapper {
    position: relative;
    padding: 40px;
    border-radius: 5px;
    background: #6739b708;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.add-offer-btn {
    margin: 20px 0;
}

.data-header {
    display: flex;
    gap: 20px;
    align-items: center;
}

.field-radio__wrapper {
    display: flex;
    flex-direction: column;
}
