.custom-field-wrapper {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    color: #2e2e2e;
}

.custom-field__input {
    display: flex;
    flex-direction: column;
}

.custom-field__input-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.custom-field__label {
    margin-bottom: 10px;
    font-weight: 500;
}

.custom-field__error {
    min-height: 20px;
    margin-top: 5px;
    color: #d22f2e;
}

.custom-field__basket {
    margin: 0 10px;
}
